@using ENOC.Dashboard.Components.Pages.incident_reporting
@using ENOC.Dashboard.Components.Layout
@page "/staff-alert"

<PageTitle>Staff Alert Exercises</PageTitle>


<HeaderNav Title="Staff Alert Exercises"/>
<div class="page-container">
<ThirdStep showConfirm="@false"/>
 <button class="btn btn-secondary btn-aqua rect-button-confirm incident-form-button" style="margin-top: 56px;" >Send</button>
</div>