@page "/reports-and-analysis/operation-readiness-listing/file"
@using ENOC.Dashboard.Components.Layout

@rendermode InteractiveServer

<PageTitle>Operation Readiness Listing</PageTitle>

<HeaderNav Title="Operation Readiness Listing" >
<button class="btn custom-button" style="width: 326px">
Export as PDF
</button>
</HeaderNav>


<FooterNav/>