<div class="row">
       <p style="margin-bottom: 38px;">
        Make sure to contact the Crisis and Disaster Management<br/><span>02 417 7000</span>
       </p>
       <p style="margin-bottom: 200px;">
        and Directorate General Of Civil Defense Dubai<br/><span>04 261 1111</span>
       </p>
        <button id="form-button" class="btn btn-secondary btn-aqua rect-button-confirm incident-form-button"  @onclick="onConfirm">Confirm</button>

    </div>


@code{
    [Parameter]
    public Func<Task> onConfirm {get; set;}
}