@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime

<style>
:root{
    --footer-height: 108px;
    }
</style>

<div style="height: var(--footer-height);">
</div>

<div class="page-footer">
    <button class="btn custom-button" @onclick="NavigateBack">
        Back
    </button>
</div>

@code {
    private async Task NavigateBack()
    {
        var canGoBack = await JSRuntime.InvokeAsync<bool>("eval", "window.history.length > 1");
        
        if (canGoBack)
        {
            await JSRuntime.InvokeVoidAsync("history.back");
        }
        else
        {
            NavigationManager.NavigateTo("/");
        }
    }
}