@page "/watch-report-and-defects/file"
@using ENOC.Dashboard.Components.Layout

@rendermode InteractiveServer

<PageTitle>Shift Report</PageTitle>

<HeaderNav Title="Shift Report" >

<button class="btn custom-button" style="width: 326px">
Export as PDF
</button>
</HeaderNav>


<FooterNav/>