@page "/defects-report-form/file"
@using ENOC.Dashboard.Components.Layout

@rendermode InteractiveServer

<PageTitle>Defects Report Form</PageTitle>

<HeaderNav Title="Defects Report Form" >

<button class="btn custom-button" style="width: 326px">
Export as PDF
</button>
</HeaderNav>


<FooterNav/>