@page "/reports-and-analysis/watch-report-and-defects/equipment-checklist"
@using ENOC.Dashboard.Components.Layout

<PageTitle>Equipment Checklist</PageTitle>


<HeaderNav Title="Equipment Checklist"/>

<img src="@Assets[key: "assets/bg-banner.png"]" alt="Background Banner" style="position: absolute; bottom: -4px; right: -550px; width: 985px; height: auto; z-index: 0;">

<div class="height-container" style="position: relative;">
    <div style="z-index: 1; position: relative; padding-inline: 30px; max-width: 1420px; margin-inline: auto;">
        <div class="dashboard-cards">
            <a href="/reports-and-analysis/watch-report-and-defects/equipment-checklist/c1/file">
                <div class="rect-img" style="background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%), url('dashboard-imgs/crew-vehcile-listing.jpg');">
                    <div class="rect-img-blur">
                        <span class="rect-img-font">C1</span>
                    </div>
                </div>
            </a>
            
            <a href="/reports-and-analysis/watch-report-and-defects/equipment-checklist/f1/file">
                <div class="rect-img" style="background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%), url('dashboard-imgs/crew-vehcile-listing.jpg');">
                    <div class="rect-img-blur">
                        <span class="rect-img-font">F1</span>
                    </div>
                </div>
            </a>
            
            <a href="/reports-and-analysis/watch-report-and-defects/equipment-checklist/f2/file">
                <div class="rect-img" style="background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%), url('dashboard-imgs/crew-vehcile-listing.jpg');">
                    <div class="rect-img-blur">
                        <span class="rect-img-font">F2</span>
                    </div>
                </div>
            </a>
            
            <a href="/reports-and-analysis/watch-report-and-defects/equipment-checklist/f3/file">
                <div class="rect-img" style="background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%), url('dashboard-imgs/crew-vehcile-listing.jpg');">
                    <div class="rect-img-blur">
                        <span class="rect-img-font">F3</span>
                    </div>
                </div>
            </a>

            <a href="/reports-and-analysis/watch-report-and-defects/equipment-checklist/f4/file">
                <div class="rect-img" style="background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%), url('dashboard-imgs/crew-vehcile-listing.jpg');">
                    <div class="rect-img-blur">
                        <span class="rect-img-font">F4</span>
                    </div>
                </div>
            </a>

            <a href="/reports-and-analysis/watch-report-and-defects/equipment-checklist/f5/file">
                <div class="rect-img" style="background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%), url('dashboard-imgs/crew-vehcile-listing.jpg');">
                    <div class="rect-img-blur">
                        <span class="rect-img-font">F5</span>
                    </div>
                </div>
            </a>

            <a href="/reports-and-analysis/watch-report-and-defects/equipment-checklist/f6/file">
                <div class="rect-img" style="background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%), url('dashboard-imgs/crew-vehcile-listing.jpg');">
                    <div class="rect-img-blur">
                        <span class="rect-img-font">F6</span>
                    </div>
                </div>
            </a>

            <a href="/reports-and-analysis/watch-report-and-defects/equipment-checklist/p1/file">
                <div class="rect-img" style="background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%), url('dashboard-imgs/crew-vehcile-listing.jpg');">
                    <div class="rect-img-blur">
                        <span class="rect-img-font">P1</span>
                    </div>
                </div>
            </a>

            <a href="/reports-and-analysis/watch-report-and-defects/equipment-checklist/p2/file">
                <div class="rect-img" style="background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%), url('dashboard-imgs/crew-vehcile-listing.jpg');">
                    <div class="rect-img-blur">
                        <span class="rect-img-font">P2</span>
                    </div>
                </div>
            </a>
            
        </div>
    </div>
</div>

<FooterNav/>